files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            wget --timeout=1600 Impulses-master.us-west-2.elasticbeanstalk.com/send_message

commands:
    00_remove_old_cron_jobs:
        command: "crontab -r || exit 0"
    remove_old_cron_backup:
        command: "rm -rf /etc/cron.d/mycron.bak"
