files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: ec2-user
        group: ec2-user
        content: |
            * * * * * ec2-user /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: ec2-user
        group: ec2-user
        content: |
            wget http://impulses.us-west-2.elasticbeanstalk.com/send_message

commands:
    remove_old_cron_backup:
        command: "sudo rm /etc/cron.d/mycron.bak"
