files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            wget http://impulse-test.us-west-2.elasticbeanstalk.com//send_message

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
