option_settings:
  aws:elasticbeanstalk:application:environment:
    SQLALCHEMY_DATABASE_URI: ***REMOVED***
    PLAID_CLIENT_ID: ***REMOVED***
    PLAID_PUBLIC_KEY: ***REMOVED***
    PLAID_SECRET: ***REMOVED***
    PLAID_ENV: development
    TWILIO_ACCOUNT_SID: ***REMOVED***
    TWILIO_AUTH_TOKEN: ***REMOVED***
    VERIFICATION_SID: ***REMOVED***
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: app/static/
