option_settings:
  aws:elasticbeanstalk:application:environment:
    SQLALCHEMY_DATABASE_URI: postgresql://masteruser:productimpulses@maindb.cuwtgivgs05r.us-west-1.rds.amazonaws.com/impulses_prod
    PLAID_CLIENT_ID: 5e717f8b062e7500146bfedc
    PLAID_PUBLIC_KEY: fd4fdc88940c3e8ad4bdafc8e1cdb5
    PLAID_SECRET: 3a807e1be3a56c9c40378286eb6cb8
    PLAID_ENV: sandbox
    TWILIO_ACCOUNT_SID: AC615253ee4368fffc5bf0b52bad19f156
    TWILIO_AUTH_TOKEN: c62366a02efd9bb54a99784c1379d9ba
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: app/static/
