option_settings:
  aws:elasticbeanstalk:application:environment:
    SQLALCHEMY_DATABASE_URI: productimpulses@maindb.cuwtgivgs05r.us-west-1.rds.amazonaws.com/impulses_dev_2
    PLAID_CLIENT_ID: 5e717f8b062e7500146bfedc
    PLAID_PUBLIC_KEY: fd4fdc88940c3e8ad4bdafc8e1cdb5
    PLAID_SECRET: 3a807e1be3a56c9c40378286eb6cb8
    PLAID_ENV: sandbox
  aws:elasticbeanstalk:container:python:staticfiles:
    /static: app/static