<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a habit</title>
</head>
<body>
    <div class="container">
        <form method="POST">
            <h2>Habit</h2>
            {{ form.csrf_token }}
            {{ form.habit_name.label }} {{ form.habit_name() }} <br />
            {{ form.habit_category.label }} {{ form.habit_category() }} <br />
            {{ form.time_minute.label }} {{ form.time_minute() }} <br />
            {{ form.time_hour.label }} {{ form.time_hour() }} <br />
            {{ form.submit() }}
        </form>
    </div>
</body>
</html>